{{> navbar}}

	<div class = "row justify-content-center my-4">
		<div class="col-12 col-md-10">
		<h1 class="text-center">Hello {{userName}}!</h1>
		<h3 class="text-center">Here are some recommendations based on your history...</h3>
		</div>
	</div>

		<div class="owl-carousel owl-theme text-center">
			{{#each recommendations}}
			<div> <img src="{{image}}" class="recommended-media" data-img="{{image}} "data-plot="{{plot}}" data-name="{{name}}" data-date="{{date}}"> </div>	
			{{/each}}
		</div>

<div class="container">
	<div id="select-rec">
	</div>
</div>


